.contact {
  width: 300px;
  display: flex;
  align-items: center;
  background: #fff;
  margin: 4px 0;
  border-radius: 0 100px 100px 0px;
}

.initialName {
  padding: 5px;
  width: 30px;
  height: 30px;
  background: orange;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  font-weight: bolder;
}

.contactData {
  display: flex;
  flex-direction: column;
  color: #6d6d6d;
}

.fullname {
  margin-top: 7px;
  font-weight: bolder;
}
